@model ResultSiteSettingsDTO

<footer>
    <div class="container">
     <div class="footer-top">
         <div class="logo">
                <img src="~/img/@Model.LogoPath" alt="">
         </div>
         <div class="links">
             <a href="#">KVKK</a>
             <a href="">GİZLİLİK SÖZLEŞMESİ</a>
             <a href="">KURALLAR</a>
         </div>
         <div class="contact">
             <a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a>
             <a href="tel:+@Model.ContactPhone">@Model.ContactPhone</a>
            </div>
        </div>
        <div class="footer-bottom">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur deleniti saepe amet maxime cupiditate repellat at porro alias dolor voluptatem?</p>
       </div>
    </div>
 </footer>