@{
ViewData["Title"] = "Şifremi unuttum";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-area">
    <div class="main">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
        <div asp-validation-summary="All" class="alert alert-error"></div>
        }
        <form asp-action="ForgotPassword">
            <input class="input" name="Email">
            <button class="btn btn-regular">Giriş yap</button>
        </form>
    </div>
</div>