@model UserLoginViewModel
@{
ViewData["Title"] = "Giriş yap";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-area">
    <div class="main">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
        <div asp-validation-summary="All" class="alert alert-error"></div>
        }
        <form asp-action="Login">
            <input class="input" asp-for="Email">
            <input class="input" asp-for="Password">
            <input asp-for="RememberMe">
            <button class="btn btn-regular">Giriş yap</button>
        </form>
    </div>
</div>