@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Şifreni sıfırla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-area">
    <div class="main">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div asp-validation-summary="All" class="alert alert-error"></div>
        }
        <form asp-action="ResetPassword">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Token" />
            <input class="input" asp-for="Password">
            <input class="input" asp-for="ConfirmPassword">
            <button class="btn btn-regular">Giriş yap</button>
        </form>
    </div>
</div>