<!DOCTYPE html>
<html lang="en">
<vc:_default-layout-head-component-partial />
<body>
    <vc:_default-layout-navbar-component-partial />
    <div class="container">
        @RenderBody()
    </div>
    <vc:_default-layout-footer-component-partial />
    <vc:_default-layout-scripts-component-partial />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
