.btn {
  font-size: 1.5rem;
  font-weight: 800;
  background-color: $surface-color;
  color: $secondary-text-color;
  padding: 1rem 1.5rem;
  transition: $general-transition;
  border: 1px solid $border-color;
  border-radius: $general-border-radius;
  &:hover {
    color: $primary-text-color;
  }
  &-regular {
    font-weight: 400;
  }
}

.tab {
  font-weight: 600;
  font-size: 2rem;
  padding: 0 0.8rem;
  border: 1px solid $border-color;
  border-bottom: none;
  &-active {
    background-color: $surface-color;
  }
}

.input {
  font-size: 1.5rem;
  background-color: $surface-color;
  color: $secondary-text-color;
  padding: 1rem 1.5rem;
  transition: $general-transition;
  border: 1px solid $border-color;
  border-radius: $general-border-radius;
  &-error {
    border: 1px solid $error-color;
  }
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: $placeholder-text-color;
  }
  &::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: $placeholder-text-color;
  }
}

.alert {
  width: 100%;
  font-size: 1.5rem;
  color: $primary-text-color;
  padding: 1rem 1.5rem;
  border-radius: $general-border-radius;
  &-warning {
    background-color: $warning-color;
  }
  &-error {
    background-color: $error-color;
  }
  &-success {
    background-color: $success-color;
  }
  &-info {
    background-color: $info-color;
  }
}

.user-info-card {
    @include flex-display(flex, center, start);
    gap: 20px;
    width: 100%;
    border: 1px solid $border-color;
    img {
      width: 100px !important;
      object-fit: cover;
    }
    .texts {
      @include flex-display(flex, start, start);
      gap: 10px;
      flex-direction: column;
      .username {
        font-size: 2rem;
        font-weight: 700;
      }
      .biography {
        font-size: 1.5rem;
      }
    }
  }


.tox{
    .tox-statusbar__path,
    .tox-statusbar__right-container,
    .tox-promotion,
    .tox-notifications-container {
        display: none !important;
    }
}