@model ResultSiteSettingsDTO

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Model.SiteName</title>
    <link rel="shortcut icon" href="~/img/@Model.FaviconPath" type="image/x-icon">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/notyf/notyf.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetCoreForum.styles.css" asp-append-version="true" />
</head>